{% extends "main_app/main_app_base.html" %}
{% load bootstrap4 %}

{% block body_block %}

<h2 class="display-1">Edit profile</h2>
<h6 class="text-muted">Change Password <a href="/main_app/password/">Here</a></h6>
<form class="form" action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="form-group">
    <label for="formGroupExampleInput">Bio</label>
    <input type="text" class="form-control" name="bio" value = "{{profile.bio}}" >
  </div>
  <input type="submit" class="btn btn-primary" name="update" value="Update">
</form>
{% endblock %}
